.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0.5rem 1rem;
  }
  
  .brand-logo {
    margin: 0; /* Adjusting default margin for heading elements */
    line-height: 30px; /* This sets the line height to 150% of the font-size */
  }
  
  .brand-penn {
    color: #000;
    font-family: Alike, sans-serif; /* Fallback font in case 'Alike' isn't available */
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
  }
  
  .brand-lfg {
    color: #000;
    font-family: 'Krona One', sans-serif; /* Fallback font in case 'Krona One' isn't available */
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
  }
  