.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0.5rem 1rem;
  }
  
  .brand-logo {
    margin: 0;
    line-height: 30px;
  }
  
  .brand-penn {
    color: #000;
    font-family: Alike, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
  }
  
  .brand-lfg {
    color: #000;
    font-family: 'Krona One', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
  }
  