.registration-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh; /* Full viewport height */
  }
  
  .registration-container {
    text-align: center;
    max-width: 300px; /* Adjust width as needed */
  }
  
  .registration-form {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Space between form items */
    margin-top: 20px; /* Extra space above the form */
  }
  
  .registration-form input {
    padding: 10px;
    margin: 5px 0; /* Spacing between inputs */
    border: 1px solid #ccc; /* Light grey border */
    border-radius: 4px;
  }
  
  /* Adjust the following class based on how you have styled your CustomButton */
  .custom-button.large {
    width: auto; /* Or specific width if preferred */
    padding: 10px;
    margin-top: 20px; /* Space between the form and the button */
  }
  