.account-page {
    max-width: 1200px; /* Limit the maximum width */
    margin: 0 auto; /* Center the feed page on the screen */
    padding: 20px;
    font-family: Inter, sans-serif;
  }
  
  .account-header {
    text-align: left; /* Center the header text */
    margin-bottom: 30px; /* Provide space between header and posts */
  }
