.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
  }
  
  .navbar .active-link {
    border-bottom: 2px solid white;
    text-decoration: none;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
  }

